<div id="header-background" class="hidden sm:block h-[10rem] bg-link-green">
  <div class="flex flex-row ml-[3.1rem]">
    <div>
      <img src="./assets/images/logo.svg" class="h-[4.8rem] w-[4.8rem] mt-[2.5rem]"/>
    </div>
    <div>
      <p class="font-link-font  text-[2.5rem] tracking-[0.2em] leading-[4rem] mt-[3.6rem]">LINK.
      <p>
    </div>
    <div class="ml-[4.8rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Home
      <p>
    </div>
    <div class="ml-[3.6rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Produkte
      <p>
    </div>
    <div class="ml-[3.6rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Anfragen/Buchungen
      <p>
    </div>
    <div class="ml-[3.6rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Kontakt
      <p>
    </div>
    <div class="w-full mr-[3.3rem]">
      <div class="border border-black rounded-full h-[5rem] w-[5rem] mt-[2.5rem] float-right">
        <img src="./assets/images/meeple.svg" class="h-[4.8rem] w-[4.8rem]"/>
      </div>
    </div>
  </div>
</div>
