<div id="header-background" class="hidden sm:block h-[10rem] bg-link-green">
  <div class="flex flex-row ml-[3.1rem]">
    <div>
      <img src="./assets/images/logo.svg" class="h-[4.8rem] w-[4.8rem] mt-[2.5rem]"/>
    </div>
    <div>
      <p class="font-link-font  text-[2.5rem] tracking-[0.2em] leading-[4rem] mt-[3.6rem]">LINK.
      <p>
    </div>
    <div class="ml-[4.8rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Home
      <p>
    </div>
    <div class="ml-[3.6rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Produkte
      <p>
    </div>
    <div class="ml-[3.6rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Anfragen/Buchungen
      <p>
    </div>
    <div class="ml-[3.6rem]">
      <p class="font-link-font  text-[1.8rem]   mt-[3.9rem]">Kontakt
      <p>
    </div>
    <div class="w-full mr-[3.3rem]">
      <div class="border border-black rounded-full h-[5rem] w-[5rem] mt-[2.5rem] float-right">
        <img src="./assets/images/meeple.svg" class="h-[4.8rem] w-[4.8rem]"/>
      </div>
    </div>
  </div>
</div>

<div class="grid place-content-center mt-[5.5rem]">
  <div class="grid justify-items-center w-screen sm:w-[60rem] font-link-font text-[1.8rem]">

    <p class="justify-self-start">Wir helfen dir gerne, ein Produkt zu erfassen:</p>

    <div id="add-picture"
         class="bg-white w-full rounded-[1rem] border border-[#CDCDCD] sm:h-[30rem] grid justify-items-center mt-[1.5rem]">
      <img class="h-[5rem] w-[5rem] place-self-center" src="/assets/images/add-picture.svg" alt=""/>
    </div>

    <div class="grid justify-items-center w-screen sm:w-[60rem] font-link-font text-[1.3rem]">
      <div id="insert-product-info"
           class="bg-white w-full rounded-[1rem] border border-[#CDCDCD] sm:h-[36.7rem] grid mt-[1.5rem]">
        <div class="w-[43.5rem] justify-self-center">
          <div class="flex flex-row w-full">
            <label class="mt-[3.7rem]" for="productName">Name</label>
            <input id="productName" type="text" autofocus
                   placeholder="Was möchtest du verleihen?"
                   class="rounded-[1rem] w-full h-[3.6rem]  border-black border mt-[3.7rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>
            <div class="w-full mr-[3.3rem]">
              <label class="float-right mt-[3.7rem]" for="productPrice">Preis pro Tag</label>
              <input id="productPrice" type="text"
                     placeholder="Preis pro Tag"
                     class="rounded-[1rem] w-full h-[3.6rem]  border-black border mt-[3.7rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>

            </div>
          </div>
          <hr>
          <label>Kategorie</label>
          <hr>
          <label>Beschreibung</label>
          <hr>
          <label>Zustand</label>
        </div>
      </div>
    </div>
    <!--<form [formGroup] ="loginForm" (ngSubmit)="onSubmit()" class="w-full text-[1.8rem] font-link-font">
      <div>
        <label id="emailLabel" hidden for="email">E-mail</label>
        <input name="email" id="email" formControlName = "username" type="text" autofocus
               placeholder="E-Mail"
               class="rounded-[1rem] w-full h-[3.6rem]  border-black border mt-[6.3rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>
      </div>
      <div>
        <label id="passwordLabel" hidden for="password">Password</label>
        <input name="password" id="password" formControlName = "password" type="password"
               placeholder="Password"
               class="rounded-[1rem] w-full h-[3.6rem] border-black border mt-[1.7rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>
      </div>
      <div class="sm:px-[6.3rem]">
        <button id="login_button" type="submit" [disabled]="loginForm.invalid"
                class="bg-link-green rounded-[1rem] w-full h-[3.6rem] mt-[1.7rem] disabled:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-500">
          Einloggen
        </button>
      </div>
      <div id="login_error" *ngIf="errorMessage">
        <p class="mt-[1.7rem] text-red-600">
          {{errorMessage}}
        </p>
      </div>
    </form>-->
  </div>
</div>

