<app-header></app-header>
<div class="grid place-content-center mt-[5.5rem]">

  <div class="grid justify-items-center w-screen sm:w-[60rem] font-link-font text-[1.8rem]">

    <p class="justify-self-start">Wir helfen dir gerne, ein Produkt zu erfassen:</p>

    <div id="add-picture"
         class="bg-white w-full rounded-[1rem] border border-[#CDCDCD] aspect-video mt-[1.5rem]">

      <label *ngIf="slides.length == 0" class="h-full w-full block cursor-pointer">
        <img class="h-full w-[5rem] m-auto" src="/assets/images/add-picture.svg">
        <input type="file" name="myfile" multiple accept="image/*" class="hidden"
               (change)="uploadImages($event)">
      </label>
      <carousel *ngIf="slides.length > 0" [currentSlide]="currentSlide" class="w-full h-full" [slides]="slides"></carousel>
    </div>
    <div id="picture-preview"
         class="bg-white w-full rounded-[1rem] border border-[#CDCDCD] h-[10rem] mt-[1.5rem] flex items-center">
      <div class="flex overflow-x-auto h-[10rem] flex-grow">
        <p *ngIf="slides.length == 0">Es sind noch keine Bilder zur Vorschau verfügbar.</p>

        <img *ngFor="let slide of slides; let i = index" [src]="slide.src" class="h-full aspect-video" (click)="setCurrentSlide(i)">

      </div>
      <label *ngIf="slides.length > 0" class="block cursor-pointer mx-[0.5rem]">
        <div
          class=" border border-gray-300 bg-gray-300 rounded-full aspect-square h-[7rem] flex items-center place-content-center">
          <span class="mt-[-2.5rem] text-[10rem] leading-[5rem] text-white">+</span>
        </div>
        <input type="file" name="myfile" multiple accept="image/*" class="hidden"
               (change)="uploadImages($event)">
      </label>


    </div>
    <form [formGroup]="productAddForm" (ngSubmit)="onSubmit()" class="">
      <div class="grid justify-items-center w-screen sm:w-[60rem] font-link-font text-[1.3rem]">
        <div id="insert-product-info"
             class="bg-white w-full rounded-[1rem] border border-[#CDCDCD] sm:h-[36.7rem] grid mt-[1.5rem]">
          <div class="grid grid-cols-[1fr_2fr] gap-2 w-[43.5rem] justify-self-center">
            <label class="mt-[3.7rem] h-[3.6rem] leading-[3.6rem]" for="productName">Name</label>
            <input class="placeholder:text-[#9ca3af]" id="productName" formControlName="title" type="text" autofocus
                   placeholder="Was möchtest du verleihen?"
                   class="rounded-[1rem] w-full h-[3.6rem]  bg-[#EFEFF0] mt-[3.7rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>
            <hr class="col-span-2">
            <label class="h-[3.6rem] leading-[3.6rem]" for="productKategorie">Kategorie</label>
            <select id="productKategorie" formControlName="category"
                    class="px-[1.3rem] h-[3.6rem] rounded-[1rem] focus:outline-none focus:ring focus:ring-link-green w-full bg-[#EFEFF0] ">
              <option value="" disabled selected hidden>Bitte auswählen...</option>
              <optgroup *ngFor="let category of categoryList" label = "{{category.category}}">
                <option *ngFor="let subcategory of category.subcategories">{{subcategory}}</option>
              </optgroup>
            </select>

            <hr class="col-span-2">
            <label class="h-[3.6rem] leading-[3.6rem]" for="productBeschreibung">Beschreibung</label>
            <textarea formControlName="description"
                      class="leading-[3.6rem] px-[1.3rem]  rounded-[1rem] focus:outline-none focus:ring focus:ring-link-green resize-none bg-[#EFEFF0] h-[5.9rem]"
                      id="productBeschreibung" placeholder="Bitte beschreibe dein Produkt">   </textarea>
            <hr class="col-span-2">
            <label class="h-[3.6rem] leading-[3.6rem]" for="productZustand">Zustand</label>
            <select id="productZustand" formControlName="condition"
                    class="px-[1.3rem] h-[3.6rem] w-[15rem] rounded-[1rem] focus:outline-none focus:ring focus:ring-link-green w-min max-w-full bg-[#EFEFF0] ">
              <option value="" disabled selected hidden>Bitte auswählen...</option>
              <option *ngFor="let condition of conditionList">{{condition}}</option>
            </select>
            <hr class="col-span-2">
            <label class="h-[3.6rem] leading-[3.6rem]" for="productPreis">Preis pro Tag</label>
            <input id="productPreis"
                   type="text"
                   formControlName="pricePerDay"
                   currencyMask
                   class="rounded-[1rem] focus:outline-none focus:ring focus:ring-link-green w-[15rem] text-right bg-[#EFEFF0] px-[1.3rem] h-[3.6rem] mb-[2.5rem]">


          </div>

        </div>
      </div>

      <div class="grid">
        <button id="login_button" type="submit" [disabled]="productAddForm.invalid"
                class="justify-self-end mt-[3.6rem] bg-link-green rounded-[1rem] w-[20rem] h-[3.6rem] disabled:disabled:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-500">
          Produkt Einstellen
        </button>
      </div>
    </form>
  </div>


</div>

