<div class="hidden sm:block h-[10rem] bg-link-green "></div>

<div class="grid place-content-center">
  <div class="grid justify-items-center w-screen sm:w-[32.6rem] px-[4rem]">
    <img src="./assets/images/logo.svg" class="h-[9rem] w-[9rem] sm:mt-[17rem] mt-[8.2rem]"/>
    <h1 class="font-link-font  text-[4.8rem] tracking-[0.2em] leading-[4rem]">LINK.</h1>
  <form [formGroup] ="loginForm" (ngSubmit)="onSubmit()" class="w-full text-[1.8rem] font-link-font">
      <div>
        <label id="emailLabel" hidden for="email">E-mail</label>
      <input name="email" id="email" formControlName = "username" type="text" autofocus
             placeholder="E-Mail"
             class="rounded-[1rem] w-full h-[3.6rem]  border-black border mt-[6.3rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>
      </div>
      <div>
        <label id="passwordLabel" hidden for="password">Password</label>
        <input name="password" id="password" formControlName = "password" type="password"
               placeholder="Password"
               class="rounded-[1rem] w-full h-[3.6rem] border-black border mt-[1.7rem] px-[1.3rem] focus:outline-none focus:ring focus:ring-link-green"/>
      </div>
      <div class="sm:px-[6.3rem]">
        <button id="login_button" type="submit" [disabled]="loginForm.invalid"
                class="bg-link-green rounded-[1rem] w-full h-[3.6rem] mt-[1.7rem] disabled:bg-gray-300 focus:outline-none focus:ring focus:ring-gray-500">
          Einloggen
        </button>
      </div>
      <div id="login_error" *ngIf="errorMessage">
        <p class="mt-[1.7rem] text-red-600">
          {{errorMessage}}
        </p>
      </div>
    </form>
  </div>
</div>

