<h1>LINK</h1>
<form #loginForm = "ngForm" (submit)="onSubmit()">
  <div>
    <label hidden for="email">E-mail</label>
    <input name="email" id="email" #email = "ngModel" [(ngModel)]="loginModel.username" type="text" placeholder="E-Mail"/>
  </div>
  <div>
    <label hidden for="password">Password</label>
    <input name="password" id="password" #password = "ngModel" [(ngModel)]="loginModel.password" type="password" placeholder="Password"/>
  </div>
  <div>
    <button type="submit" >Login</button>
  </div>
</form>
